<html>
<head>
  <title>Compras Transparentes 404</title>
  <meta charset="utf-8"/>
  <link rel="icon" type="image/png" href="images/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/home.scss"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/orders.scss"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/tenders.scss"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/application.css.scss"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/select2.css"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/mlmn.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
  <script type="text/javascript" charset="utf-8" src="jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="bootstrap.js"></script>
  <script type="text/javascript" charset="utf-8" src="angular/angular.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="angular-route/angular-route.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="javascripts/select2.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="javascripts/custom.js"></script>
  <script type="text/javascript" charset="utf-8" src="javascripts/d3.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="javascripts/sunburst.js"></script>
</head>
  <body class="dark-body">
    <div class="container">
      <div class="main-content">
        <div class="fourohfour">
          <h1>404</h1>
          <p class="thiserror">¡¡¡Esto es un error!!!</p>
          <p class="explanation">La dirección que has buscado no existe en nuestro servidor.</p>

          <!-- <i class="fa fa-compass"></i> -->
          <img src="images/chilling.png">

          <a href="javascript:history.back()" class="gobackmf"><i class="fa fa-arrow-left"></i>Volver a la página anterior</a>

          <p class="bottom-paragraph">
            <small>HTTP 404 - Página no encontrada</small><br>
            <small><a href="/" class="alt-link">wwww.comprastransparentes.cl</a></small>
          </p>
        </div>
      </div>
    </div>

  </body>
</html>
