<section class="container aboutus">
	<div class="panel panel-default">
		<div class="panel-heading transparent no-border">
			<h1 class="super-title">Acerca de <strong>Compras Transparentes</strong></h1>
		</div>
		<div class="panel-body">
			<h2>¿Qué es <strong>Compras Transparentes</strong>?</h2>
			<div class="x-thing">
				<i class="fa fa-info"></i>
				<p class="lead">Compras Transparentes es una herramienta para explorar las transacciones entre el Estado de Chile y sus proveedores, las cuales se efectúan a través de la plataforma de compras públicas <a href="http://www.mercadopublico.cl">www.mercadopublico.cl</a>.</p>
				<p class="lead"><small>Compras Transparentes es una aplicación de código abierto y está disponible en <a href="#">Github <i class="fa fa-github"></i></a></small></p>
			</div>
			<h3>¿Cómo se obtiene la información?</h3>
			<blockquote><p>ChileCompra disponibiliza toda la información de las distintas licitaciones mediante una <strong>API</strong> de acceso público, disponible en <a href="http://api.mercadopublico.cl/" target="_blank">http://api.mercadopublico.cl/</a>. Diariamente, Compras Transparentes actualiza y agrega datos utilizando de manera exclusiva  dicha fuente de datos.</p></blockquote>
			<h3>¿Qué puedo ver en Compras Transparentes?</h3>
			<blockquote><p>La aplicación cuenta con casi <span class="highlight-blue">750.000</span> licitaciones publicadas, más de <span class="highlight-blue">60.000</span> empresas privadas y <span class="highlight-blue">830</span> organismos públicos. Para acceder a esta data, Compras Transparentes disponibiliza:</p>
			<ul>
				<li><p>Rankings de vendedores y compradores.</p></li>
				<li><p>Fichas resúmenes de licitaciones, empresas y organismos públicos.</p></li>
				<li><p>Comparaciones en los niveles de compra de los distintos organismos públicos.</p></li>
				<li><p>Una API Pública, la cual simplifica el acceso a grandes volúmenes de datos.</p></li>
			</ul>
			</blockquote>
			<h3>¿Quiénes están tras esta iniciativa?</h3>
			<blockquote>
				<p>La aplicación fue desarrollada por <a href="http://www.zoohash.com/" target="_blank">Zoohash</a> y <a href="http://www.poderopedia.org/" target="_blank">Poderopedia</a>.</p>
				<p>La coordinación de la iniciativa fue realizada por <strong>Freddy Cea</strong>. El equipo técnico estuvo compuesto por <strong>Luis Benítez</strong> <em>(API & back-end)</em>, <strong>Osman Cea</strong> <em>(UX & UI)</em>, <strong>Diego Chávez</strong> <em>(Front-end)</em>. El desarrollo del ámbito periodístico estuvo a cargo de <strong>Miguel Paz</strong>.</p>
				<p class="medium-weight">Compras Transparentes contó además con  la contribución de <a href="http://hackslabs.org/" target="_blank">HacksLabs</a>, el <a href="http://www.icfj.org/" target="_blank">International Center For Journalists</a>, <a href="https://www.hivos.org/" target="_blank">Hivos</a> y <a href="http://www.avinaamericas.org/" target="_blank">Avina Americas</a>.</p>
			</blockquote>
		</div>
	</div>
</section>