<section class="container">
	<div class="panel panel-default">
		<div class="panel-heading transparent no-border">
			<h1 class="super-title">Sobre <strong>nosotros</strong></h1>
		</div>
		<div class="panel-body">
			<p class="lead">Lorem ipsum gatito asimet.</p>
			<p>Párrafo normal de cosa</p>
		</div>
	</div>
</section>