<section class="container aboutus">
	<div class="panel panel-default">
		<div class="panel-heading transparent no-border">
			<h1 class="super-title"><i class="fa fa-code"></i>Sobre nuestra <strong>API</strong></h1>
		</div>
		<div class="panel-body">
			<h2><strong>API</strong></h2>
			<div class="x-thing">
				<i class="fa fa-code"></i>
				<p class="lead">El código fuente del sitio Compras Transparentes está disponible por completo en Github:</p>
				<p class="lead"><a href="https://github.com/ComprasTransparentes" target="_blank">https://github.com/ComprasTransparentes <i class="fa fa-github"></i></a>.</p>
				<p class="lead"><small>Existen tres secciones distintas, las cuales se detallan a continuación.</small></p>
			</div>
			<h3>API</h3>
			<blockquote><p>Desarrollada en <strong>Falcon</strong> y <strong>Python</strong>, contiene todos los detalles de la API de Compras Transparentes, la cual sirve para:</p>
			<ul>
				<li><p>Acceder a la información desplegada en nuestro sitio web.</p></li>
				<li><p>Realizar queries de manera automatizada a la Base de Datos.</p></li>
			</ul>
			</blockquote>
			<h3>Scraper</h3>
			<blockquote><p>Desarrollado en <strong>Rails</strong> y <strong>Ruby</strong>, permite automatizar el consumo y procesamiento de  los datos publicados en <a href="http://api.mercadopublico.cl" target="_blank">http://api.mercadopublico.cl</a>.</p></blockquote>
			<h3>Web</h3>
			<blockquote><p>Disponibiliza el sitio completo, construido con <strong>Node.js</strong>, <strong>Express</strong> y <strong>Bootstrap</strong>. Los gráficos utilizan <strong>D3.js</strong>.</p></blockquote>
			<div class="x-thing darkz">
				<p>Compras Transparentes y todos sus contenidos están licenciados con GNU GPL, lo que significa que cualquier persona u organización tiene la libertad de usar, estudiar, compartir (copiar) y/o modificar el software.</p>
				<p>En caso de dudas, preguntas, comentarios o sugerencias, no dudes en <a href="mailto:contact@zoohash.com" class="alt-link">contactarnos</a>.</p>
			</div>
		</div>
	</div>
</section>	