<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <title>Compras Transparentes</title>
  <meta charset="utf-8"/>
  <link rel="icon" type="image/png" href="images/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/home.scss"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/orders.scss"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/tenders.scss"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/application.css.scss"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/select2.css"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/mlmn.css"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/c3.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
  <script type="text/javascript" charset="utf-8" src="jquery/dist/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="angular/angular.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="angular-route/angular-route.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="javascripts/select2.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="javascripts/custom.js"></script>
  <script type="text/javascript" charset="utf-8" src="javascripts/d3.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="javascripts/c3.min.js"></script>

  <script src="//cdn.embedly.com/widgets/platform.js"></script>
  
</head>
<body class="dark-body">

<div id="site-wrapper">

  <div class="se-pre-con"></div>

    <% include header %>

    <%- include(content) %>

    <% include footer %>
   
  </div>

</body>

<script type="text/javascript" charset="utf-8" src="javascripts/sunburst.js"></script>

</html>
