<form class="row" action="search" id="basic_search" method="get">
	<div class="col-sm-12">
		<div class="compras-transparentes">
				<p class="lookfor"><span>Deseo buscar</span>
					<select class="selector no-search flat transparent-selector" name="TipoBusqueda">
						<option value="1">Licitaciones</option>
						<option value="2">Organismos Públicos</option>
						<option value="3">Proveedores</option>
					</select>
				</p>
				<div class="input-group">
		      <input type="text" class="form-control searchbar-asdf" placeholder='Ejemplos de búsquedas: "Municipalidad de Purén", "Ministerio de Justicia" o "Vacunas para perros".' name="q">
		      <span class="input-group-btn">
		        <button class="btn btn-default btn-compras-transparentes searchbar-btn" type="submit">Buscar</button>
		      </span>
		    </div>
		    <p>
		    	<a href="/searchbar" class="alt-link">... o realizar búsqueda avanzada</a>
		    </p>
	    </div>
  	</div>
</form>