<form class="row" action="search" method="get">
	<div class="col-sm-12">
		<div class="input-group compras-transparentes">
	      <input type="text" class="form-control" placeholder="Buscar en comprastransparentes.cl" name="q">
	      <span class="input-group-btn">
	        <button class="btn btn-default btn-compras-transparentes" type="button">Buscar</button>
	      </span>
	    </div>
	    <p class="text-center">
	    	<a class="alt-link" href="">... o realiza una búsqueda avanzada</a>
	    </p>
  	</div>
</form>