<div class="embed-stuff">
	<button type="button" class="btn " data-toggle="modal" data-target="#myModal">
	  <i class="fa fa-share-square-o"></i> <span>Embeber contenido</span>
	</button>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
		<h4 class="modal-title" id="myModalLabel">Embeber contenido</h4>
	  </div>
	  <div class="modal-body">
	  	<p class="small-lead">Agrega la siguiente línea de código en tu sitio</p>
			<pre>Aquí va el código</pre>
	  </div>
	  <div class="modal-footer">
			<button type="button" class="btn btn-compras-transparentes" data-dismiss="modal">Cerrar</button>
	  </div>
	</div>
  </div>
</div>