<%
	function replaceAll(find, replace, str) {
  		return str.replace(new RegExp(find, 'g'), replace);
	}

	var api = "http://www.comprastransparentes.cl:8000";
	var website = "http://www.comprastransparentes.cl:3000";

	var text='<script type="text/javascript" charset="utf-8" src="'+website+'/javascripts/dug.js"></script><link rel="stylesheet" type="text/css" href="'+website+'/stylesheets/embed.css"/><script id="dugjs-template" type="text/x-dug-template"><div class="embed-container">';
	text = text+'<div class="embed-container" id="comprastransparentes"><div class="fluid-container"><div class="panel panel-default"><div class="panel-body">'

	
	if(type=="licitacion"){
		text = text+'<h3 class="title">{{nombre}}</h3>';
		text = text+'<p><strong>Fecha de Publicación:</strong> 02-03-2015</p>';
		text = text+'<p><strong>Estado:</strong> Licitación cerrada</p>';
		text = text+'<p><strong>Apertura:</strong> 02-03-2015</p>';
	}
	if(type=="organismo"){
		text = text+'<h3 class="title">{{nombre_comprador}}</h3>';
		text = text+'<p><strong>Rut:</strong> {{rut_unidad}}</p>';

	} 
	if(type=="proveedor"){
		text = text+'<h3 class="title">{{nombre}}</h3>';
		text = text+'<p><strong>Rut:</strong> {{rut}}</p>';
	}	

	text = text+'</div><div class="panel-footer"><a href="'+website+'/"><img src="'+website+'/images/comprastransparentes-logo.png"></a>';

	text = text+'<a class="pull-right" href="'+website+'/file?type='+type+'&code='+code+'">Ver detalle <span class="glyphicon glyphicon-caret-down"></span> </a>';
	
	text = text+'</div></div></div></div></script><script>';

	text = text+'dug({endpoint: "'+api+'/';
	text = text+type+"/"+code;
	text = text+'/",beforeRender: function( data ){},template: "#dugjs-template"});</script>';

	text = replaceAll("<", "&lt;", text);
	text = replaceAll(">", "&gt;",text);
	text = replaceAll("á", "&aacute;",text);
	text = replaceAll("é", "&eacute;",text);
	text = replaceAll("í", "&iacute;",text);
	text = replaceAll("ó", "&oacute;",text);
	text = replaceAll("ú", "&uacute;",text);


	
%>

<div class="embed-stuff">
	<button type="button" class="btn " data-toggle="modal" data-target="#myModal">
	  <i class="fa fa-share-square-o"></i> <span>Embeber contenido</span>
	</button>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
		<h4 class="modal-title" id="myModalLabel">Embeber contenido</h4>
	  </div>
	  <div class="modal-body">
	  	<p class="small-lead">Agrega la siguiente línea de código en tu sitio</p>
			<pre class='logger' id='exampleInput'><%-text%></pre>
	  </div>
	  <div class="modal-footer">
			<button type="button" class="btn btn-compras-transparentes" id="btn-copy">Copiar</button>
			<button type="button" class="btn btn-compras-transparentes" data-dismiss="modal">Cerrar</button>
	  </div>
	</div>
  </div>
</div>

<script type="text/javascript">


	 //ZeroClipboard.setMoviePath('http://www.comprastransparentes.cl:3000/javascripts/ZeroClipboard.swf');

	 function zcInit() {
  var client = new ZeroClipboard($('#btn-copy'));
  
  client.on('ready', function(event) {
    client.on('copy', function(event) {
      // `this` === `client`
      // `event.target` === the element that was clicked

      // Get the text content of <input> or <textarea> that comes immediately before the clicked button
      //var $prevEle = $(event.target).prev();
      var text = $(".logger").text();//$prevEle.is('textarea') ? $prevEle.val().replace(/\n/g, '\r\n') : $prevEle.val();

      // If value of `text` is not empty, set the data to clipboard
      if (text) {
        event.clipboardData.setData('text/plain', text);
      }
    });

    // Show a message when the text is copied
    client.on('aftercopy', function(event) {
      if (event.data['text/plain']) {
        //$(event.target).next().finish().fadeIn(30).fadeOut(1000);
      }
    });
  });
  
  client.on('error', function(event) {
    ZeroClipboard.destroy();
  });
}

// Function for copying text using window.clipboardData
function addHandler_WinClipData() {
  $('#btn-copy').click(function() {
    var $prevEle = $(this).prev();
    var text = $prevEle.is('textarea') ? $prevEle.val().replace(/\n/g, '\r\n') : $prevEle.val();

    // If value of `text` is not empty, set the data to clipboard
    if (text && window.clipboardData.setData('Text', text)) {
      // Show a message when the text is copied
      //$(this).next().finish().fadeIn(30).fadeOut(1000);
    }
  });
}

// Function for pop up a message and select text in <input> or <textarea>, in case window.Clipboard data and Flash are not available
function addHandler_AlertMsg() {
  $('#btn-copy').click(function() {
    if ($(this).prev().val()) {
      alert('No Flash installed. Please copy manually');
      $(this).prev().focus().select();
    }
  });
}

// Function for checking Flash availability
function detectFlash() {
  var hasFlash = false, obj, types, type;
  try {
    obj = new ActiveXObject('ShockwaveFlash.ShockwaveFlash');
    if (obj) {
      hasFlash = true;
    }
  } catch(e) {
    types = navigator.mimeTypes;
    type = 'application/x-shockwave-flash';
    if (types && types[type] && types[type].enabledPlugin) {
      hasFlash = true;
    }
  }
  return hasFlash;
}

var hasWinClipData = !!(window.clipboardData && clipboardData.setData),
  hasFlash = detectFlash();

if (hasWinClipData) {   // Check if window.clipboardData is available
  addHandler_WinClipData();
} else if (hasFlash) {  // Check if Flash is available
  $.ajax({
    type: 'GET',
    url: '//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.min.js',
    dataType: 'script',
    cache: true,
    success: zcInit,
    error: addHandler_AlertMsg
  });
} else {  // In case window.clipboardData and Flash are not available, bind a "click" event handler to the "copy buttons" to pop up a message when clicked
  addHandler_AlertMsg();
}
    </script>