<%
	function replaceAll(find, replace, str) {
  		return str.replace(new RegExp(find, 'g'), replace);
	}

	var api = "http://www.comprastransparentes.cl:8000";
	var website = "http://www.comprastransparentes.cl:3000";

	var text='<script type="text/javascript" charset="utf-8" src="'+website+'/javascripts/dug.js"></script><link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"><link rel="stylesheet" type="text/css" href="'+website+'/stylesheets/embed.css"/><script id="dugjs-template" type="text/x-dug-template"><div class="embed-container">';
	text = text+'<div class="embed-container" id="comprastransparentes"><div class="fluid-container"><div class="panel panel-default"><div class="panel-body">'

	
	if(type=="licitacion"){
		text = text+'<h3 class="title">{{nombre}}</h3>';
		text = text+'<p><strong>Fecha de Publicación:</strong> 02-03-2015</p>';
		text = text+'<p><strong>Estado:</strong> Licitación cerrada</p>';
		text = text+'<p><strong>Apertura:</strong> 02-03-2015</p>';
	}
	if(type=="organismo"){
		text = text+'<h3 class="title">{{nombre_comprador}}</h3>';
		text = text+'<p><strong>Rut:</strong> {{rut_unidad}}</p>';

	} 
	if(type=="proveedor"){
		text = text+'<h3 class="title">{{nombre}}</h3>';
		text = text+'<p><strong>Rut:</strong> {{rut}}</p>';
	}	

	text = text+'</div><div class="panel-footer"><a href="'+website+'/"><img src="'+website+'/images/comprastransparentes-logo.png"></a>';

	text = text+'<a class="pull-right" href="'+website+'/file?type='+type+'&code='+code+'">Ver detalle <span class="glyphicon glyphicon-caret-down"></span> </a>';
	
	text = text+'</div></div></div></div></script><script>';

	text = text+'dug({endpoint: "'+api+'/';
	text = text+type+"/"+code;
	text = text+'/",beforeRender: function( data ){},template: "#dugjs-template"});</script>';

	text = replaceAll("<", "&lt;", text);
	text = replaceAll(">", "&gt;",text);
	text = replaceAll("á", "&aacute;",text);
	text = replaceAll("é", "&eacute;",text);
	text = replaceAll("í", "&iacute;",text);
	text = replaceAll("ó", "&oacute;",text);
	text = replaceAll("ú", "&uacute;",text);


	
%>

<div class="embed-stuff">
	<button type="button" class="btn " data-toggle="modal" data-target="#myModal">
	  <i class="fa fa-share-square-o"></i> <span>Embeber contenido</span>
	</button>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
		<h4 class="modal-title" id="myModalLabel">Embeber contenido</h4>
	  </div>
	  <div class="modal-body">
	  	<p class="small-lead">Agrega la siguiente línea de código en tu sitio</p>
			<pre class='logger' id='to_copy'><%-text%></pre>
	  </div>
	  <div class="modal-footer">
			<button type="button" class="btn btn-compras-transparentes copy" id='copy'  data-clipboard-text="Copied Button 1 Text">Copiar</button>
			<button type="button" class="btn btn-compras-transparentes" data-dismiss="modal">Cerrar</button>
	  </div>
	</div>
  </div>
</div>

<script type="text/javascript">


	$(document).ready(function() {
    ZeroClipboard.config({ moviePath: 'http://zeroclipboard.org/javascripts/zc/ZeroClipboard_1.3.2.swf',debug: true });

    var client = new ZeroClipboard($('#copy'));
    client.on('load', function(client) {
        $('.flash-loaded').text('Flash player loaded at ' + $.now()).fadeIn();
        client.on('mouseover', function(client, args) {
            client.setText($(this).text());
            $('.confirm-copy').text('text copied at ' + $.now()).fadeIn();
        });
    });
});

      
    </script>