<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <title>Compras Transparentes</title>
  <meta charset="utf-8"/>
  <link rel="icon" type="image/png" href="images/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/home.scss"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/orders.scss"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/tenders.scss"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/application.css.scss"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/select2.css"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/mlmn.css"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/c3.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
  <script type="text/javascript" charset="utf-8" src="jquery/dist/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="angular/angular.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="angular-route/angular-route.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="javascripts/select2.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="javascripts/custom.js"></script>
  <script type="text/javascript" charset="utf-8" src="javascripts/d3.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="javascripts/c3.min.js"></script>
  
</head>
<body class="dark-body">

  <div class="se-pre-con">
    <i class="fa fa-cog fa-spin"></i>
  </div>

  <section class="container">

<div class="panel panel-default stats">

    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <h3>Estadísticas</h3>
        </div>

        <div class="col-md-6">
          <div class="btn-group pull-right pull-resp" data-toggle="buttons">
            <label class="btn btn-primary active">
              <input type="radio" name="options" id="option1" autocomplete="off" checked> Último semestre
            </label>
            <label class="btn btn-default">
              <input type="radio" name="options" id="option2" autocomplete="off"> Último año
            </label>
            <label class="btn btn-default">
              <input type="radio" name="options" id="option3" autocomplete="off"> Últimos dos años
            </label>
            <label class="btn btn-default">
              <input type="radio" name="options" id="option3" autocomplete="off"><i class="fa fa-calendar"></i>
            </label>
          </div>
        </div>

        <div class="col-md-12">
          <p class="small-lead">Información de licitaciones y estadísticas del período [período]</p>
        </div>
      </div>
</div>
</div>

</body>


</html>