<section class="container aboutus">
	<div class="panel panel-default">
		<div class="panel-heading transparent no-border">
			<h1 class="super-title"><i class="fa fa-question-circle"></i><strong>FAQ</strong></h1>
		</div>
		<div class="panel-body">
			<h2>Preguntas <strong>Frequentes</strong></h2>
			<div class="x-thing">
				<i class="fa fa-question"></i>
				<p class="lead">Compras Transparentes sólo incluye información de licitaciones adjudicadas. En una próxima versión incluiremos información de transacciones realizadas a través de Convenios Marco, como así mismo el detalle de todas las órdenes de compra efectuadas en el sistema de compras públicas del Estado Chileno.</p>
			</div>
			<!-- Pregunta 1 -->
			<h3>¿Cuál es la vigencia de los datos mostrados en Compras Transparentes?</h3>
			<blockquote><p>La data utilizada en <strong>Compras Transparentes</strong> comprende desde <i>01/01/2013</i> a la fecha actual. Actualizamos nuestra base de datos <strong>diariamente</strong>. Para datos anteriores, favor consultar la fuente oficial.</p></blockquote>
			<!-- Pregunta 2 -->
			<h3>¿Cuán fidedignos son los datos utilizados en Compras Transparentes?</h3>
			<blockquote><p>Los datos utilizados en nuestra plataforma son extraídos directamente de la <strong>API</strong> de <a href="http://api.mercadopublico.cl/" target="_blank">api.mercadopublico.cl</a>. Es recomendable siempre confirmar la data de <strong>Compras Transparentes</strong> con la información encontrada en <a href="http://www.chilecompra.cl/" target="_blank">www.chilecompra.cl</a>. En caso de dudas respecto a la información, puedes acceder a la ficha de cada licitación en <strong>ChileCompra</strong> directamente desde las fichas de licitación presentes en nuestra plataforma.</p></blockquote>
			<!-- Pregunta 3 -->
			<h3>¿Es posible ver el detalle de compra de una repartición a nivel de Ministerio?</h3>
			<blockquote><p>Por el momento <strong>NO</strong> es posible ver esta información. Los datos provistos por <strong>ChileCompra</strong> están relacionados en una jerarquía menor. Por ejemplo, sí es posible buscar información por Subsecretaria del Interior u otra repartición específica a un ministerio en particular, sin embargo estas reparticiones no están agrupadas entre sí, ni tampoco están asociadas directamente al ministerio correspondiente. Actualmente estamos trabajando para solucionar este problema y añadir esta información en una versión posterior.</p></blockquote>
		</div>
	</div>
</section>