<li class="alert alert-warning alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<p class="info-tag">Regla</p>
	<span>Monto desde</span>
	<span class="clp">0</span>
	<span>hasta</span>
	<span class="clp">100.000</span>
</li>