<footer class="footer">
	<div class="container-fluid no-padding">
		<nav class="navbar navbar-inverse">
    		<div id="toTop" class="btn btn-info pull-right"><i class="fa fa-angle-up"></i></div>
			<div class="row">
				<div class="col col-sm-3 margin-bottom">
					<p class="participants">Un proyecto de</p>
					<ul class="list-unstyled logo-list">
						<li>	
							<a href="http://www.zoohash.com/" target="_blank">
								<img src="images/isologo-zoohash.png" alt="Zoohash" class="logo-zoohash">
							</a>
						</li>
						<li>
							<a href="http://www.poderopedia.org/" target="_blank">
								<img src="images/poderopedia.png" alt="Poderopedia" class="logo-poderopedia">
							</a>
						</li>
					</ul>
				</div>
				<div class="col col-sm-6 margin-bottom no-padding">
					<p class="participants">Contribuyeron para realizar esta iniciativa</p>
					<ul class="list-unstyled logo-list">
						<li>
							<a href="http://hackslabs.org"><img src="images/hackslabs.png" alt="hackslabs"></a>
						</li>
						<li>
							<a href="http://www.icfj.org"><img src="images/icfj.png" alt="icfj"></a>
						</li>
						<li>
							<a href="http://www.hivos.org"><img src="images/hivos.png" alt="hivos"></a>
						</li>
						<li>
							<a href="http://www.avinaamericas.org"><img src="images/avina.png" alt="avina"></a>
						</li>
					</ul>
				</div>
				<div class="col col-sm-3 margin-bottom">
					<p class="participants">Encuéntranos en</p>
					<ul class="list-unstyled social-media">
						<li><a href="mailto:contact@zoohash.com"><i class="fa fa-envelope"></i></a></li>
						<li><a href="https://github.com/ComprasTransparentes"><i class="fa fa-github"></i></a></li>
						<li><a href="https://twitter.com/zoohash"><i class="fa fa-twitter"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="separator"></div>
					<h5 class="text-center disclaimer-title"><span><i class="fa fa-exclamation-circle"></i> Aclaración</span></h5>
					<p class="text-center disclaimer">Compras Transparentes es una aplicación que extrae y publica datos públicos oficiales del Sistema de Compras Publicas de Chile, ChileCompra.cl y sus plataformas MercadoPublico.cl, Analiza.cl, Chileproveedores.cl.<br>Compras Transparentes no se responsabiliza por datos errados provenientes de Chile Compra y sus plataformas asociadas. Recomendamos siempre consultar la fuente original y reportar a los organismos públicos si identificas errores en su información.</p>
				</div>
			</div>
    	</nav>
	</div>
</footer>