<div class="flex-wrapper daslaf">
	<ul class="list-unstyled filter-list transparent no-filters">
		<li class="text-center no-results"><i class="fa fa-frown-o"></i> No se han encontrado resultados para esta categoría.</li>
	</ul>
</div>