<% for(var w=0; w<data.proveedores.length; w++) { %>
<div class="search-result-item">
	<h4 class="collapsable-text"><a href=<%-"/file?type=proveedor&code="+data.proveedores[w].id%>  class="long-text"><%- data.proveedores[w].nombre%></a></h4>
	<p class="org-name inline">AGA S.A. HEALTCARE CONCEPCION</p>
	<p class="org-name inline"><%- data.proveedores[w].rut%></p>
	<p class="lic-des">PDTE ERRAZURIZ 2631, 4to PISO PROVIDENCIA, Providencia, Región Metropolitana</p>
</div>
<% }%>