<% for(var w=0; w<data.licitaciones.length; w++) { %>
<div class="search-result-item">
	<h4 class="collapsable-text"><a class="long-text" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</a><button class="btn more-text">...</button></h4>
	<p class="org-name inline">Nombre del Organismo Licitador<a href="#"><i class="fa fa-arrow-circle-right"></i></a></p>
	<p class="org-name inline">Nombre del Proveedor<a href="#"><i class="fa fa-arrow-circle-right"></i></a></p>
	<p class="lic-des">Descripción de la orden de compra. Descripción de la orden de compra. Descripción de la orden de compra. Descripción de la orden de compra. Descripción de la orden de compra. Descripción de la orden de compra. Descripción de la orden de compra. Descripción de la orden de compra. Descripción de la orden de compra. Descripción de la orden de compra. Descripción de la orden de compra. Descripción de la orden de compra.</p>
	<div class="row">
		<div class="col-xs-6">
			<p><span>Monto Orden: <i class="clp">200.000</i></span></p>
		</div>
		<div class="col-xs-6 text-right">
			<p><span><i class="fa fa-calendar"></i> Adjudicación: 25-02-2013</span></p>
		</div>
	</div>
</div>

<% }%>