<form class="row" action="search" method="get">	
	<div class="col-md-12">
		<div class="upper-searchbar">
			<div class="row ">
				<div class="col-sm-12">
					<div class="input-group compras-avanzadas">
				      <input type="text" class="form-control" placeholder="Buscar en comprastransparentes.cl" name="q">
				      <span class="input-group-btn">
				        <button class="btn btn-default btn-compras-transparentes" type="submit">Buscar</button>
				      </span>
				    </div>
				</div>
			</div>
		</div>
	</div>
</form>
