<form class="row" action="search" method="get">
	<div class="col-sm-12">
		<p class="lookfor"><span>Deseo buscar</span>
			<select class="selector no-search transparent-selector" id="lookfor">
				<option value="licitacion">Licitaciones</option>
				<option value="organismo">Organismos Públicos</option>
				<option value="proveedor">Proveedores</option>
			</select>
		</p>
		<div class="input-group border-thingy">
			<span class="input-group-btn">
		      <div class="btn-add-filter searchbar-btn active"><i class="fa fa-filter"></i><i class="fa fa-plus-circle"></i></div>
		    </span>
		    <input type="text" class="form-control searchbar-asdf" placeholder="Buscar en comprastransparentes.cl" name="q">
		    <span class="input-group-btn">
		      <button class="btn btn-default btn-compras-transparentes searchbar-btn" type="submit">Buscar</button>
		    </span>
	  	</div>
	</div>

	<div class="col-sm-12">
		<div class="advanced-filters-container">
			
			<!-- Panel de izquierda para seleccionar filtros -->
			<div class="filters-container">
				<!-- Filtros avanzados para Licitaciones -->
				<div class="filters-container-panel hidden" id="filters_search_licitacion">
					<div class="filter-header">
						<h5 class="super-title duper">Filtros <strong>Licitaciones</strong></h5>
					</div>
					<div class="fil-modules">
						<div class="filter-module">
							<select class="selector flat no-search full-width" placeholder="Selecciona un filtro" id="lic_adv_fil">
								<option></option>
								<option value="add_select">Categoría de Producto</option>
								<optgroup label="Estado de Licitación">
									<option value="">Licitaciones Publicadas</option>
									<option value="">Licitaciones Adjudicadas</option>
									<option value="">Licitaciones Revocadas</option>
									<option value="">Licitaciones Suspendidas</option>
								</optgroup>	
								<option value="add_plata">Monto ($)</option>
								<optgroup label="Tipo de Fecha">
									<option value="add_picker">Fecha de Publicación</option>
									<option value="add_picker">Fecha de Adjudicación</option>
									<option value="add_picker">Fecha de Cerre</option>
								</optgroup>
							</select>
						</div>

						<!-- Cosas que debieran agregarse -->

							<!-- Select agregado -->
							<div class="filter-module follow-up hidden" id="otro_select">
								<select class="selector flat standard full-width" placeholder="Selecciona una categoría">
									<option></option>
									<option>1</option>
									<option>2</option>
								</select>
							</div>

							<!-- Datepickers -->
							<div class="filter-module follow-up hidden" id="fechapicker">
								<div class="datepicker-group">
									<div class="form-group">
						                <div class='input-group date' id='picker1'>
						                    <input type='text' class="form-control" placeholder="Fecha desde">
						                    <span class="input-group-addon">
						                        <span class="fa fa-calendar"></span>
						                    </span>
						                </div>
						            </div>
									<div class="form-group">
						                <div class='input-group date' id='picker2'>
						                    <input type='text' class="form-control" placeholder="Fecha hasta"/>
						                    <span class="input-group-addon">
						                        <span class="fa fa-calendar"></span>
						                    </span>
						                </div>
						            </div>
						        </div>	
							</div>

							<!-- Inputs de plata -->
							<div class="filter-module follow-up hidden" id="youtubemoney">
								<div class="monto">
									<input type="number" class="form-control" placeholder="Monto desde">
									<input type="number" class="form-control" placeholder="Monto hasta">
								</div>
							</div>

						<!-- /Cosas que debieran agregarse fin -->
					</div>	
					<div class="filter-footer">
						<button type="button" class="btn btn-filtros btn-block"><i class="fa fa-plus-circle"></i> Agregar filtro</button>
					</div>
				</div>

				<!-- Filtros avanzados para Organismos -->
				<div class="filters-container-panel hidden" id="filters_search_organismo">
					<div class="filter-header">
						<h5 class="super-title duper">Filtros <strong>Organismos Públicos</strong></h5>
					</div>
						<div class="fil-modules">
							<div class="filter-module">
								<select class="selector flat no-search full-width" placeholder="Selecciona un filtro" id="org_adv_fil">
									<option></option>
									<option value="add_cant_lic">Cantidad de licitaciones ofrecidas</option>
									<option value="add_mont_lic">Por monto de licitaciones</option>
									<option value="add_mont_prov_lic">Por monto transado con proveedor</option>
									<option value="add_cant_prov_lic">Por cantidad de licitaciones con proveedor</option>
								</select>
							</div>
							
							<!-- Cosas que debieran agregarse -->

								<!-- Filtro organismo por cantidad de licitaciones -->
								<div class="filter-module follow-up hidden" id="cant_lic">
									<!-- Cantidad de licitaciones -->
									<div class="monto" style="margin-bottom: 15px;">
										<input type="number" class="form-control" placeholder="Cantidad desde">
										<input type="number" class="form-control" placeholder="Cantidad hasta">
									</div>
									
									<!-- Estado Licitaciones -->
									<select class="selector flat no-search full-width" style="margin-bottom: 15px;">
										<option>Todos los estados de licitación</option>
										<option>Licitaciones Publicadas</option>
										<option>Licitaciones Adjudicadas</option>
										<option>Licitaciones Revocadas</option>
										<option>Licitaciones Suspendidas</option>
									</select>

									<!-- Fechas Licitaciones -->
									<div class="datepicker-group">
										<div class="form-group">
							                <div class='input-group date' id='picker1'>
							                    <input type='text' class="form-control" placeholder="Fecha desde">
							                    <span class="input-group-addon">
							                        <span class="fa fa-calendar"></span>
							                    </span>
							                </div>
							            </div>
										<div class="form-group">
							                <div class='input-group date' id='picker2'>
							                    <input type='text' class="form-control" placeholder="Fecha hasta"/>
							                    <span class="input-group-addon">
							                        <span class="fa fa-calendar"></span>
							                    </span>
							                </div>
							            </div>
							        </div>	
								</div>

								<!-- Filtro organismo por monto de licitaciones -->
								<div class="filter-module follow-up hidden" id="mont_lic">
									<!-- Monto de licitaciones -->
									<div class="monto" style="margin-bottom: 15px;">
										<input type="number" class="form-control" placeholder="Monto desde">
										<input type="number" class="form-control" placeholder="Monto hasta">
									</div>
									
									<!-- Estado Licitaciones -->
									<select class="selector flat no-search full-width" style="margin-bottom: 15px;">
										<option>Todos los estados de licitación</option>
										<option>Licitaciones Publicadas</option>
										<option>Licitaciones Adjudicadas</option>
										<option>Licitaciones Revocadas</option>
										<option>Licitaciones Suspendidas</option>
									</select>

									<!-- Fechas Licitaciones -->
									<div class="datepicker-group">
										<div class="form-group">
							                <div class='input-group date' id='picker1'>
							                    <input type='text' class="form-control" placeholder="Fecha desde">
							                    <span class="input-group-addon">
							                        <span class="fa fa-calendar"></span>
							                    </span>
							                </div>
							            </div>
										<div class="form-group">
							                <div class='input-group date' id='picker2'>
							                    <input type='text' class="form-control" placeholder="Fecha hasta"/>
							                    <span class="input-group-addon">
							                        <span class="fa fa-calendar"></span>
							                    </span>
							                </div>
							            </div>
							        </div>	
								</div>

								<!-- Filtro organismo por monto transado con proveedor -->
								<div class="filter-module follow-up hidden" id="mont_prov_lic">
									<!-- Lista de proveedores -->
									<select class="selector flat no-search full-width" style="margin-bottom: 15px;" placeholder="Selecciona un proveedor">
										<option></option>
										<option>Proveedor 1</option>
										<option>Proveedor 2</option>
										<option>Proveedor 3</option>
										<option>Proveedor 4</option>
									</select>

									<!-- Monto de licitaciones -->
									<div class="monto" style="margin-bottom: 15px;">
										<input type="number" class="form-control" placeholder="Monto transado desde">
										<input type="number" class="form-control" placeholder="Monto transado hasta">
									</div>
								</div>

								<!-- Filtro organismo por cantidad de licitaciones transadas con proveedor -->
								<div class="filter-module follow-up hidden" id="cant_prov_lic">
									<!-- Lista de proveedores -->
									<select class="selector flat no-search full-width" style="margin-bottom: 15px;" placeholder="Selecciona un proveedor">
										<option></option>
										<option>Proveedor 1</option>
										<option>Proveedor 2</option>
										<option>Proveedor 3</option>
										<option>Proveedor 4</option>
									</select>

									<!-- Cantidad de licitaciones -->
									<div class="monto" style="margin-bottom: 15px;">
										<input type="number" class="form-control" placeholder="Cantidad de licitaciones desde">
										<input type="number" class="form-control" placeholder="Cantidad de licitaciones hasta">
									</div>
								</div>
						</div>
					<div class="filter-footer">
						<button type="button" class="btn btn-filtros btn-block"><i class="fa fa-plus-circle"></i> Agregar filtro</button>
					</div>
				</div>

				<!-- Filtros avanzados para Proveedores -->
				<div class="filters-container-panel hidden" id="filters_search_proveedor">
					<div class="filter-header">
						<h5 class="super-title duper">Filtros <strong>Proveedores</strong></h5>
					</div>
						<div class="fil-modules">
							<div class="filter-module">
								<select class="selector flat no-search full-width" placeholder="Selecciona un filtro" id="prov_adv_fil">
									<option></option>
									<option value="sum_cant_lic">Cantidad de licitaciones ofrecidas</option>
									<option value="sum_mont_lic">Por monto de licitaciones</option>
									<option value="sum_mont_prov_lic">Por monto transado con proveedor</option>
									<option value="sum_cant_prov_lic">Por cantidad de licitaciones con proveedor</option>
								</select>
							</div>
							
							<!-- Cosas que debieran agregarse -->

								<!-- Filtro organismo por cantidad de licitaciones -->
								<div class="filter-module follow-up hidden" id="cant_licitacion">
									<!-- Cantidad de licitaciones -->
									<div class="monto" style="margin-bottom: 15px;">
										<input type="number" class="form-control" placeholder="Cantidad desde">
										<input type="number" class="form-control" placeholder="Cantidad hasta">
									</div>
									
									<!-- Estado Licitaciones -->
									<select class="selector flat no-search full-width" style="margin-bottom: 15px;">
										<option>Todos los estados de licitación</option>
										<option>Licitaciones Publicadas</option>
										<option>Licitaciones Adjudicadas</option>
										<option>Licitaciones Revocadas</option>
										<option>Licitaciones Suspendidas</option>
									</select>

									<!-- Fechas Licitaciones -->
									<div class="datepicker-group">
										<div class="form-group">
							                <div class='input-group date' id='picker1'>
							                    <input type='text' class="form-control" placeholder="Fecha desde">
							                    <span class="input-group-addon">
							                        <span class="fa fa-calendar"></span>
							                    </span>
							                </div>
							            </div>
										<div class="form-group">
							                <div class='input-group date' id='picker2'>
							                    <input type='text' class="form-control" placeholder="Fecha hasta"/>
							                    <span class="input-group-addon">
							                        <span class="fa fa-calendar"></span>
							                    </span>
							                </div>
							            </div>
							        </div>	
								</div>

								<!-- Filtro organismo por monto de licitaciones -->
								<div class="filter-module follow-up hidden" id="mont_licitacion">
									<!-- Monto de licitaciones -->
									<div class="monto" style="margin-bottom: 15px;">
										<input type="number" class="form-control" placeholder="Monto desde">
										<input type="number" class="form-control" placeholder="Monto hasta">
									</div>
									
									<!-- Estado Licitaciones -->
									<select class="selector flat no-search full-width" style="margin-bottom: 15px;">
										<option>Todos los estados de licitación</option>
										<option>Licitaciones Publicadas</option>
										<option>Licitaciones Adjudicadas</option>
										<option>Licitaciones Revocadas</option>
										<option>Licitaciones Suspendidas</option>
									</select>

									<!-- Fechas Licitaciones -->
									<div class="datepicker-group">
										<div class="form-group">
							                <div class='input-group date' id='picker1'>
							                    <input type='text' class="form-control" placeholder="Fecha desde">
							                    <span class="input-group-addon">
							                        <span class="fa fa-calendar"></span>
							                    </span>
							                </div>
							            </div>
										<div class="form-group">
							                <div class='input-group date' id='picker2'>
							                    <input type='text' class="form-control" placeholder="Fecha hasta"/>
							                    <span class="input-group-addon">
							                        <span class="fa fa-calendar"></span>
							                    </span>
							                </div>
							            </div>
							        </div>	
								</div>

								<!-- Filtro organismo por monto transado con proveedor -->
								<div class="filter-module follow-up hidden" id="mont_org_licitacion">
									<!-- Lista de proveedores -->
									<select class="selector flat no-search full-width" style="margin-bottom: 15px;" placeholder="Selecciona un proveedor">
										<option></option>
										<option>Proveedor 1</option>
										<option>Proveedor 2</option>
										<option>Proveedor 3</option>
										<option>Proveedor 4</option>
									</select>

									<!-- Monto de licitaciones -->
									<div class="monto">
										<input type="number" class="form-control" placeholder="Monto transado desde">
										<input type="number" class="form-control" placeholder="Monto transado hasta">
									</div>
								</div>

								<!-- Filtro organismo por cantidad de licitaciones transadas con proveedor -->
								<div class="filter-module follow-up hidden" id="cant_org_licitacion">
									<!-- Lista de proveedores -->
									<select class="selector flat no-search full-width" style="margin-bottom: 15px;" placeholder="Selecciona un proveedor">
										<option></option>
										<option>Proveedor 1</option>
										<option>Proveedor 2</option>
										<option>Proveedor 3</option>
										<option>Proveedor 4</option>
									</select>

									<!-- Cantidad de licitaciones -->
									<div class="monto">
										<input type="number" class="form-control" placeholder="Cantidad de licitaciones desde">
										<input type="number" class="form-control" placeholder="Cantidad de licitaciones hasta">
									</div>
								</div>
						</div>
					<div class="filter-footer">
						<button type="button" class="btn btn-filtros btn-block"><i class="fa fa-plus-circle"></i> Agregar filtro</button>
					</div>
				</div>
			</div>

			<!-- Panel de derecha donde saldrán los filtros agregados -->
			<div class="added-filters-list">
				<div class="filters-list-container hidden" id="filters_list_licitacion">
					<h5 class="super-title duper">Filtros aplicados</h5>
					<span data-toggle="modal" data-target="#eraseAllModal" class="erase-all"><i class="fa fa-trash-o"></i>Borrar todo</span>
					<!-- Filtro de categoría de Producto-->
					<div class="filter-list-item">
						<ul class="list-unstyled list-inline querystring">
							<li class="static-string">Licitaciones con el siguiente producto</li>
							<li>Nombre de la categoría</li>
						</ul>
						<span class="close-thing"><i class="fa fa-times"></i></span>
					</div>

					<!-- Filtro de Estado de Licitación-->
					<div class="filter-list-item">
						<ul class="list-unstyled list-inline querystring">
							<li class="static-string">Licitaciones con estado</li>
							<li>Activas</li>
						</ul>
						<span class="close-thing"><i class="fa fa-times"></i></span>
					</div>

					<!-- Filtro de Monto de Licitación-->
					<div class="filter-list-item">
						<ul class="list-unstyled list-inline querystring">
							<li class="static-string">Licitaciones con monto entre</li>
							<li class="clp numformat">1000</li>
							<li class="static-string">y</li>
							<li class="clp numformat">25000</li>
						</ul>
						<span class="close-thing"><i class="fa fa-times"></i></span>
					</div>

					<!-- Filtro de Fecha de Licitación-->
					<div class="filter-list-item">
						<ul class="list-unstyled list-inline querystring">
							<li class="static-string">Licitaciones con fecha</li>
							<li>Adjudicación</li>
							<li class="static-string">entre</li>
							<li>01/03/2013</li>
							<li class="static-string">y</li>
							<li>01/03/2014</li>
						</ul>
						<span class="close-thing"><i class="fa fa-times"></i></span>
					</div>

				</div>
				<div class="filters-list-container hidden" id="filters_list_organismo">
					<h5 class="super-title duper">Filtros aplicados</h5>
					<span data-toggle="modal" data-target="#eraseAllModal" class="erase-all"><i class="fa fa-trash-o"></i>Borrar todo</span>		
				</div>
				<div class="filters-list-container hidden" id="filters_list_proveedor">
					<h5 class="super-title duper">Filtros aplicados</h5>
					<span data-toggle="modal" data-target="#eraseAllModal" class="erase-all"><i class="fa fa-trash-o"></i>Borrar todo</span>		
				</div>
			</div>
		</div>
	</div>
</form>

<div class="modal fade" id="eraseAllModal" tabindex="-1" role="dialog" aria-labelledby="eraseAllModalLabel">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header no-border">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
		<h4 class="super-title duper" id="eraseAllModalLabel"><i class="fa fa-exclamation-circle"></i>Atención</h4>
	  </div>
	  <div class="modal-body">
	  	<p>¿Estás seguro que deseas borrar todos los filtros?</p>

	  </div>
	  <div class="modal-footer no-border">
			<button type="button" class="btn btn-compras-transparentes btn-borrar" data-dismiss="modal">Borrar Todo</button>
	  </div>
	</div>
  </div>
</div>