<form class="row" action="search" method="get">
	<div class="col-sm-12">
		<p class="lookfor"><span>Deseo buscar</span>
			<select class="selector no-search transparent-selector">
				<option>Licitaciones</option>
				<option>Organismos Públicos</option>
				<option>Proveedores</option>
			</select>
		</p>
		<div class="input-group">
	    <input type="text" class="form-control searchbar-asdf" placeholder="Buscar en comprastransparentes.cl" name="q">
	    <span class="input-group-btn">
	      <button class="btn btn-default btn-compras-transparentes searchbar-btn" type="submit">Buscar</button>
	    </span>
	  </div>
	</div>

	<div class="col-sm-12">
		<div class="advanced-filters-container">
			<h4>Filtros avanzados</h4>
			<button class="btn btn-default btn-compras-transparentes">Agregar Nueva Regla</button>
		</div>
	</div>
</form>